

.image-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container .world {
   width: auto;
}

.image-container .hover-container{
   position: relative;
   width: 1200px;
}

.pin {
   position: relative;
   width: 40px;
   z-index: 1;
}

.link-container{
   height: 200px;
   overflow: auto;
}

.image-container h2{
   font-size: 30px;
}

.image-container .wisconsin{
   position: absolute;
   width: auto;
   left: 294px;
   top: 259px;
   transition: .3s cubic-bezier(.3, 0, 0, 1.3);
   z-index: 3;
 }


    
 .image-container .wisconsin .hiddenText {
    display: none;
 }

 .image-container .wisconsin:hover{
   background-color: rgb(243, 243, 243);
    position: absolute;
    width: 300px;

    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px;
    z-index: 4;
}

 .image-container .wisconsin:hover .hiddenText {
    display: block;

 }

 .image-container  .vancouver{
   position: absolute;
    width: auto;
    left: 185px;
    top: 221px;
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
    z-index: 3;

 }

    
 .image-container .vancouver .hiddenText {
    display: none;
 }

 .image-container .vancouver:hover{
   background-color: rgb(243, 243, 243);
    position: absolute;
    width: 300px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px;
    z-index: 4;
}

 .image-container .vancouver:hover .hiddenText {
    display: block;

 }


 .li-div {
   background-color: #ebebeb;
   margin-bottom: 10px;
   padding: 5px;
   display: flex;
   align-items: center;
   border-radius: 5px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   min-height: 60px;
}

.image-container h3 {
   display: inline;
   color: rgb(0, 162, 255);
   font-size: 14px;
   margin-left: 20px;
}

.li-div img {
   width: 60px;
}


a {
   text-decoration: none;
}


